---
layout: base
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h2 Architech Dev Day
      %h5
        :markdown
          * [Workshop: Automate Your Business with JBoss Integration & BPM] (bpmsuite_primer_workshop.html)

    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
